<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudyFlow</title>
  <link rel="stylesheet" href="/balemahe.css">
</head>
<body>
  <div class="topo">
    <div class="logo">StudyFlow</div>
    <div class="perfil">H</div>
  </div>

  {{{body}}}
</body>
</html>
